<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" data-toggle="myModal" (click)="openModal(template)">
      <i class="fa fa-plus-square"></i>
      Add Deal
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered table-striped" >
      <thead>
        <tr>
          <th>Deal</th>
          <th>Value</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody *ngIf="deals$ | async as deals">
        <tr *ngFor="let deal of deals">
          <td>{{deal.name}}</td>
          <td>{{(deal.value | currency: 'PHP': '4-2-2') || '-'}}</td>
          <td>{{(deal.startDate | date) || '-'}}</td>
          <td>{{(deal.endDate | date) || '-'}}</td>
          <td>
            <p
              class="badge m-0"
              [class.badge-success]="deal.milestone === 'won'"
              [class.badge-danger]="deal.milestone === 'lost'"
              [class.badge-warning]="deal.milestone === 'proposal'">{{deal.milestone}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #template>
  <app-modal
    (close)="closeModal()"
    [currentKey]="currentKey"></app-modal>
</ng-template>

