<div class="row">
  <div class="col-12">
    <app-create-task></app-create-task>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-12">
    <app-task-card [pending]="true">
      <ng-container class="header">Pending task</ng-container>
      <ng-container class="task">
        <task [tasks]="pendingTasks"></task>
      </ng-container>
    </app-task-card>
  </div>
  <div class="col-md-6 col-12">
    <app-task-card>
      <ng-container class="header">Finished task</ng-container>
      <ng-container class="task" *ngIf="finishedTasks">
        <task [tasks]="finishedTasks"></task>
      </ng-container>
    </app-task-card>
  </div>
</div>







